<div class="inner-container">
  <div class="post">
    <h1><%= @top_level.title %></h1>

    <%= controls_panel(@top_level) %>

    <%= image_tag @top_level.image.url(:good), :alt => @top_level.title %>

    <div class="post-content">
      <%= raw @top_level.description %>
    </div>
  </div>
</div>