<div class="social-panel">
  <%= render "service_partial/fb_like_button", :target => target %>
  <%= render "service_partial/vk_like", :target => target %>
  <%= render "service_partial/twitter_tweet", :target => target %>
</div>