<div class="control-panel">
  <%= link_to 'Edit', edit_work_path(@work) if can?(:manage, Work) %>
    <%= link_to '-Destroy', @work, confirm: 'Are you sure?', method: :delete if can?(:manage, Work) %>
</div>