html {
    width: auto;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

/* side bar area */
#sidebar {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    font-family: "Helvetica CY", "Nimbus Sans L", sans-serif;
    left: 55px;
    margin: 0 20px;
    padding: 34px 20px;
    position: absolute;
    top: 0;
    width: 170px;
}

.logo {
    text-decoration: none;
    display: block;
    background: url("logo.png") no-repeat scroll 21px 0 transparent;
    width: 170px;
    height: 121px;
}

#sidebar hr {
    background: url("header-top.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    height: 4px;
}

header {
    /*border-top: url(header-top.png);*/
    border-bottom: #000000 solid 1px;
}

header h1 {
    font-size: 16px;
    line-height: normal;
    color: #767676;
}

header p.description {
    font-size: 12px;
    line-height: 1.5em;
    color: #232323;
}

.main-menu {
}

.main-menu ul, .main-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    /*height: 41px;*/
    border-bottom: #e9e9e9 solid 1px;
}

.main-menu li a {
    font-size: 16px;
    line-height: 41px;
    color: #232323;
    text-decoration: none;
}

.main-menu li a:hover {
    font-size: 16px;
    line-height: 41px;
    color: #232323;
    text-decoration: none;
}

.main-menu li.active {
    background: url("item-active.png") no-repeat scroll right center transparent;
}

#sidebar h2 {
    font-size: 18px;
    /*line-height: 41px;*/
    color: #232323;
    /*text-decoration: none;*/
}

#sidebar p.contacts {
    font-size: 16px;
    /*line-height: 41px;*/
    color: #7b7b7b;
    text-decoration: none;
}

#sidebar address {
    font-size: 12px;
    /*line-height: 41px;*/
    color: #232323;
    font-style: normal;
}

.map_container {
    margin: 21px 0 55px 0;
}

.twitter-follow {
    margin: 0 0 21px 0;
}

/* main content area */
.container {
    font-family: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
    /*margin-left: 320px;*/
    /*padding-top: 34px;*/
    left: 320px;
    top: 34px;
    position: absolute;
    z-index: 1;
    min-width: 830px;
    width: 70%;
}

/* lang switcher */
#lang {
    font-family: "Helvetica CY","Nimbus Sans L",sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}

#lang ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#lang ul li{
    margin: 0;
    padding: 0;
}

#remote-site {
    /*width: 100%;*/
    /*height: 100%;*/
}

.control-panel {
    position: absolute;
    top: 121px;
    right: 55px;
    z-index: 9999;
    background-color: #fff;
    padding: 21px;
}

.work-box {
    padding-right: 21px;
}

.big-box {
}

.medium-box {
}

.work-box .image {
}

.work-box .image a {
}

.work-box .image a img {
}

h2 {
}

.work-description {
    width: 380px;
}

#infscr-loading {
    background: none repeat scroll 0 0 #000000;
    border-radius: 10px 10px 10px 10px;
    bottom: 40px;
    color: #FFFFFF;
    left: 45%;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 100;
}
