@font-face {
    font-family: Helvetica;
    src: url('HelveticaLTCYR-Roman.eot');
    src: url('HelveticaLTCYR-Roman.eot?#iefix') format('embedded-opentype'),
         url('HelveticaLTCYR-Roman.woff') format('woff'),
         url('HelveticaLTCYR-Roman.ttf') format('truetype'),
         url('HelveticaLTCYR-Roman.svg#Helvetica-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    min-width: 1024px;
    min-height: 1800px;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

#remote-site {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

/*=================================================================================================
    #sidebar styles
=================================================================================================*/
#sidebar {
    float: left;
    width: 168px;
    min-height: 1800px;
    padding: 21px 41px;
    margin: 0;
    background: #FFFFFF url("bg_sidebar.jpg") 0 0 no-repeat;
    z-index: 100;
    position: relative;
}

#sidebar.special {
    background: url("bg_sidebar_bs.png") repeat scroll 0 0 transparent;
}

#logo {
    background: url("logo.png") no-repeat scroll center center transparent;
    display: block;
    height: 107px;
    margin: 0 0 21px;
    text-decoration: none;
    width: 160px;
}

#sidebar header {
    padding: 18px 0 16px;
    font: normal 12px/17px Helvetica, tahoma, verdana, sans-serif;
    color: #232323;
}

#sidebar h1 {
    padding: 0 0 12px;
    margin: 0;
    font: normal 16px/21px Helvetica, tahoma, verdana, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

#sidebar h2 {
    font: normal 18px/21px Georgia, "Century Schoolbook L", serif;
    padding: 17px 0 6px;
}

#sidebar address {
    padding: 2px 0;
    font: normal 12px/17px Helvetica, tahoma, verdana, sans-serif;
    color: #232323;
}

#sidebar address .contacts {
    padding: 0 0 15px;
    font: normal 16px/22px Helvetica, tahoma, verdana, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

#sidebar address a {
    color: rgba(0, 0, 0, 0.5);
}

#menu {
    list-style: none outside none;
}

#menu li {
    padding: 13px 7px 11px 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font: normal 16px/17px Helvetica, tahoma, verdana, sans-serif;
    color: #232323;
    letter-spacing: 0.05em;
    cursor: pointer;
}

#menu li.active {
    background: transparent url("menu_item_hover.png") center right no-repeat;
}

#menu a {
    color: #232323;
    text-decoration: none;
}

.plugin {
    margin: 21px 0;
}

.fb-like {
    background: none repeat scroll 0 0 #FFFFFF;
}

/*=================================================================================================
	.container styles
=================================================================================================*/

#main {
    padding: 55px 0;
    margin: 0 0 0 250px;
    position: relative;
    z-index:101;
}

#works {
    overflow: hidden;
    zoom: 1;
}

#works > div {
    float: left; /* ??? */
    padding: 1px;
    margin: 0 21px 21px 0;
    border: dotted 1px Lime;
}

#works > div.big-box {
}

#works > div.medium-box {
    width: 380px;
    height: 380px;
}

#works > div dt {
    padding: 10px 0;
    font: normal 25px/29px Georgia, "Century Schoolbook L", serif;
    color: #232323;
}

#works > div dd {
    font: normal 12px/17px Helvetica, tahoma, verdana, sans-serif;
    color: #404040;
}

.gmnoprint {
    display: none;
}

.work-box {
    padding-bottom: 55px;
    }
    .work-box.big-box {
        width: 790px;
        }
    .work-box.medium-box {
        width: 375px;
        }
.work-box.safari .work-wrapper {
    width:350px;
    height:230px;
    background:url(bg/safari_post_small_350x229.png) 0 0 no-repeat;
    padding:24px 19px 22px 15px;
    margin-left:-15px;
    }
    .work-box.big-box.safari .work-wrapper {
        background:url(bg/safari_post_big_736x391.png) 0 0 no-repeat;
        width:736px;
        height:391px;
        padding:42px 34px 44px 26px;
        margin-left:-26px;
        }
.work-box.safari .work-wrapper img {
    width:350px;
    height:230px;
    }
    .work-box.big-box.safari .work-wrapper img {
        width:736px;
        height:391px;
        }

.work-description {
    width: 360px;
}

.works-container {
    position: absolute;
    min-width: 830px;
    width: 100%;
}

#lang {
    position: absolute;
    right: 21px;
    top: 21px;
    z-index: 999;
    font: 12px/12px Helvetica, tahoma, verdana, sans-serif;
}

#control-panel {
    position: absolute;
    right: 21px;
    top: 121px;
    z-index: 999;
    font: 12px/12px Helvetica, tahoma, verdana, sans-serif;
}

#lang .current {
    background: url("bg-location-arrow.png") no-repeat scroll 100% 8px transparent;
    display: block;
    left: 0;
    padding: 6px 13px 6px 0;
    text-align: right;
    cursor: pointer;
}

#lang.expanded ul {
    display: block;
}

#lang ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    list-style: none;
    display: none;
}

#lang ul li {
    padding: 6px 0px 6px;
}

#lang ul li:hover {
    background: #ffea00;
    border-bottom: 1px solid #e5d95c;
    padding: 6px 0px 5px;

}

#lang ul li.no_border:hover {
    border: 0;
    padding: 6px 0 6px;
}

#lang ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.89);
    padding: 0 13px;
}

.work-description h2 {
    font: 25px/25px normal Georgia, "Times New Roman", Times, serif;
    color: #232323;
    margin-top: 5px;
}

.work-description p {
    font: 12px/18px Helvetica, tahoma, verdana, sans-serif;
    color: #5b5b5b;
    margin-top: 11px;
}

.service {
    /*float: left;*/
    display:inline-block;
    width: 169px;
    margin: 0 34px 25px 0;
    vertical-align:top;
    }
*:first-child+html .service {
    display:inline;
    }
* html .service {
    display:inline;
    }

.service span {
    font-size: 53px;
    color: #000000;
    width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 6px;
}

.service h2 {
    font: 16px/20px Georgia;
    color: #232323;
    margin: 0px 0 15px;
}

.service p {
    font: 12px/18px Helvetica, tahoma, verdana, sans-serif;
    color: #232323;
}

.post .date {
    font: 12px/18px Helvetica, tahoma, verdana, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.post h2 {
    color: #232323;
    font: 31px/31px normal Georgia, "Times New Roman", Times, serif;
    margin: 0 0 21px 0;
}

.post-description,
.post-content {
    width: 585px;
}

.post #slides {
    display: block;
    }
    .post.safari #slides {
        width:347px;
        height:233px;
        background:url(bg/safari_347x233.png) 0 0 no-repeat;
        padding:25px 20px 27px 15px;
        }
    .post.air #slides {
        width:476px;
        height:298px;
        padding:54px 144px 91px 147px;
        background:url(bg/air_476x298.jpg) 0 0 no-repeat;
        }
    .post.mac #slides {
        width:710px;
        height:400px;
        padding:40px 40px 247px 38px;
        background:url(bg/imac_710x400.jpg) 0 0 no-repeat;
        }

.post #slides .slides_container {
    width:540px;
    overflow:hidden;
    }
    .post.safari #slides .slides_container {
        width:347px;
        }
    .post.air #slides .slides_container {
        width:476px;
        }
    .post.mac #slides .slides_container {
        width:710px;
        }

.post #slides .slides_container img {
    width:540px;
    }
    .post.safari #slides .slides_container img {
        width:347px;
        height:233px;
        }
    .post.air #slides .slides_container img {
        width:476px;
        height:298px;
        }
    .post.mac #slides .slides_container img {
        width:710px;
        height:400px;
        }

.post .pagination {
    display: block;
    height: 30px;
    margin: -30px 0 0;
    position: relative;
    z-index: 10000;
    text-align: center;
    width:540px;
    }
    .post.safari .pagination {
        width:342px;
        margin:-37px 0 7px 5px;
        }
    .post.air .pagination {
        width:471px;
        margin:-32px 0 2px 5px;
        }
    .post.mac .pagination {
        width:710px;
        }

.post .pagination li {
    background: url("paginator.png") repeat scroll 0 12px transparent;
    display:inline-block;
    /*float: left;*/
    height: 12px;
    list-style: none outside none;
    margin-right: 5px;
    width: 12px;
}
*:first-child+html .post .pagination li {
    display:inline;
}
* html .post .pagination li {
    display:inline;
}
.post .pagination li.current {
    background-position: 0 0;
}

.post .pagination li a {
    color: rgba(0, 0, 0, 0);
    display:inline-block;
    height:12px;
    width:12px;
    background: url("paginator.png") no-repeat scroll 0 -28px transparent;
}
*:first-child+html .post .pagination li a {
    display:inline;
}
* html .post .pagination li a {
    display:inline;
}
.post .pagination li.current a {
    background-position: 0 0;
}
.post .pagination li a:hover {
    background-position: -31px -28px;
}
.post .pagination li.current a:hover {
    background-position: -31px 0;
}

.post-description {
    color: rgba(0, 0, 0, 0.5);
    font: 25px/28px Helvetica, tahoma, verdana, sans-serif;
    margin: 0;
    padding: 21px 0 12px;
}

.post-content {
    color: rgba(0, 0, 0, 0.7);
    font: 15px/18px Helvetica, tahoma, verdana, sans-serif;
}

.social-panel {
    overflow:hidden;
    padding-top:15px;
    }
.social-panel .fb-like,
.social-panel .social-vk,
.social-panel .twitter-share-button {
    float:left;
    margin-right:20px;
    display:inline;
    }

.sign-board {
    background: url("sign-board-bg.png") no-repeat scroll 0 0 transparent;
    float: right;
    margin-left: 34px;
    min-height: 440px;
    width: 230px;
}

.sign-board img {
    margin: 21px auto;
}

.sign-board-text {
    font: 12px/18px Helvetica, tahoma, verdana, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 21px;
}

.panel-admin {
    background: -moz-linear-gradient(#838383, #4C4C4C) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 7px -3px #000000 inset;
    float: left;
    margin: 8px 0;
    overflow: hidden;
    padding: 7px 5px;
}

.panel-admin ul {
    float: left;
    list-style-type: none;
    overflow: hidden;
    position: relative;
}

.panel-admin ul li {
    border-left: 1px solid #FFFFFF;
    float: left;
    font-size: 0.75em;
    margin: 0 1px 0 -1px;
}

.panel-admin ul li {
    border-left: 1px solid #FFFFFF;
    float: left;
    font-size: 0.75em;
    margin: 0 1px 0 -1px;
}
.panel-admin ul li a {
    color: #FFFFFF;
    float: left;
    margin-top: -2px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
}