<div id="lang">
  <span class="current"><%= I18n.locale.upcase %></span>
  <ul>
    <% Language.collection.each do |lang| %>
        <li><a href="/language/<%= lang.cut %>"><%= lang.name.upcase %></a></li>
    <% end %>
  </ul>
</div>
